.clients-list {
  a {
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s;

    > * {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      opacity: 1;
      background: rgba(255, 255, 255, 0.8);

      > * {
        opacity: 1;
      }
    }
  }
}
