{{#>layout title=prismic.content.results.0.data.meta_title.json.value}}
  {{#with prismic.content.results.0.data as |content|}}
    {{injectBackground "hero_bg" content.hero_image}}
    <div class="hero block hero_bg">
      <div class="block__content">
        <h1 class="hero__title">{{v content.title}}</h1>
      </div>
    </div>
    <div class="block">
      <div class="block__content text text--medium">
        {{t content.text}}
      </div>
    </div>
    {{>clients/list clients=content.clients.children}}
    <div class="block block--condensed-bottom">
      <div class="block__content">
        <h2 class="title title--medium">
          Muita asiakkaitamme
        </h2>
      </div>
    </div>
    {{>clients/other_list clients=content.clients.children}}
  {{/with}}
{{/layout}}
