@font-face {
  font-family: 'Campton';
  font-weight: bold;
  src: url('../fonts/Campton-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Campton-Bold.otf')  format('opentype'),
    url('../fonts/Campton-Bold.woff') format('woff'), url('../fonts/Campton-Bold.ttf')  format('truetype'), url('../fonts/Campton-Bold.svg#Campton-Bold') format('svg');
}

@font-face {
  font-family: 'Campton';
  font-weight: 300;
  src: url('../fonts/Campton-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Campton-Medium.otf')  format('opentype'),
    url('../fonts/Campton-Medium.woff') format('woff'), url('../fonts/Campton-Medium.ttf')  format('truetype'), url('../fonts/Campton-Medium.svg#Campton-Medium') format('svg');
}

@font-face {
  font-family: 'Campton';
  font-weight: 200;
  src: url('../fonts/Campton-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Campton-Light.otf')  format('opentype'),
    url('../fonts/Campton-Light.woff') format('woff'), url('../fonts/Campton-Light.ttf')  format('truetype'), url('../fonts/Campton-Light.svg#Campton-Light') format('svg');
}

@font-face {
  font-family: 'Campton';
  src: url('../fonts/Campton-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Campton-Thin.otf')  format('opentype'),
    url('../fonts/Campton-Thin.woff') format('woff'), url('../fonts/Campton-Thin.ttf')  format('truetype'), url('../fonts/Campton-Thin.svg#Campton-Thin') format('svg');
  font-weight: 100;
}
