@import 'variables';

@mixin min-media($min) {
  @if $min != 0 {
    @media only screen and (min-width: #{$min}) {
      @content;
    }
  }
  @else {
    @content;
  }
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

[class*="col-"] {
  flex: 0 0 100%;
}

@each $name, $sizes in $breakpoints {
  $min: nth($sizes, 1);
  $max: nth($sizes, 2);

  @if $min != 0 {
  }

  @if $max != 0 {

  }

  .col-#{$name} {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @include min-media($min) {
    @for $i from 1 through 12 {
      $col-width: percentage($i / 12);

      .col-#{$name}-#{$i} {
        flex-basis: $col-width;
        max-width: $col-width;
      }

      .col-#{$name}-offset-#{$i} {
        margin-left: $col-width;
      }
    }
  }
}


@each $name, $size in $gutters {
  .row.row--#{$name}-gutter {
    margin-left: -$size;
    margin-right: -$size;

    > [class*="col-"] {
      padding-left: $size;
      padding-right: $size;
    }
  }
}
