
<section class="col-tn-12 col-xs-6 col-sm-4 col-md-3 employee-card">
  {{injectBackground (concat id "_employee_bg") employee.image}}
  <div class="item item--background item--square {{id}}_employee_bg">
  </div>
  <div class="item item--square">
    <div class="item__content no-child-margins people-content">
      <h1 class="title title--small">{{v employee.name}}</h1>
      {{#if employee.job_title}}
        <h2 class="title title--thinner">{{v employee.job_title}}</h2>
      {{/if}}
      {{#if employee.phonenumber}}
        <a href="tel:{{v phonenumber}}">{{v employee.phonenumber}}</a>
      {{/if}}
      {{#if employee.email}}
        <a class="secretive-link link-email" href="mailto:{{v employee.email}}">{{v employee.email}}</a>
      {{/if}}

      <div class="employee-card__social-links">
        {{#if employee.linkedin}}
          <a href="https://www.linkedin.com/in/{{v employee.linkedin}}" target="_blank">
            <i class="ion ion-social-linkedin"></i>
          </a>
        {{/if}}

        {{#if employee.twitter}}
          <a href="https://twitter.com/{{v employee.twitter}}" target="_blank">
            <i class="ion ion-social-twitter"></i>
          </a>
        {{/if}}

        {{#if employee.github}}
          <a href="https://github.com/{{v employee.github}}" target="_blank">
            <i class="ion ion-social-github"></i>
          </a>
        {{/if}}

        {{#if employee.homepage}}
          <a href="{{v employee.homepage}}" target="_blank">
            <i class="ion ion-link"></i>
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</section>
